<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Framework_Test">
    <classes>
      <class name="com.tests.homePage"/>
      <class name="com.tests.ValidateNavigationBar"/>
      <class name="com.tests.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
